html {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-color: rgba(128, 128, 128, 0.268);
  min-height: 500px;
}

h1 {
  color: blue;
  text-align: center;
  margin: 2rem 0rem;
  font-variant-caps: small-caps;
  text-decoration: dotted;
}

p {
  color: black;
  text-align: center;
  margin: 0;
}

#text-input {
  display: block;
  justify-self: center !important;
  margin: 1rem 0rem;
}

#text-input {
  width: 300px;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid blue;
  color: blue;
  font-size: larger;
  text-align: center;

  &:focus {
    outline: none;
  }
}

#result {
  display: none;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
